<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="icon" href="favicon.ico">

    <title>InstaTravel</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>


      <script src='js/main.js'></script>
  </head>

  <body onload="setup()">

        <div class="row" id="shadow">
          <div class="col-md-4"><h2>InstaTravel</h2></div>
          <div class="col-md-8"><img src="images/plane.png" width=500px></div>
        </div>


        <div class="row">
            <div class="col-lg-7">
                <div id="basicExample">
                    <div class="image1"></div>
                    <div class="image2"></div>
                    <div class="image3"></div>
                    <div class="image4"></div>
                    <div class="image5"></div>
                    <div class="image6"></div>
                    <div class="image7"></div>
                    <div class="image8"></div>
                    <div class="image9"></div>
<!--
                    <div class="image10"></div>
                    <div class="image11"></div>
                    <div class="image12"></div>
                    <div class="image13"></div>
                    <div class="image14"></div>
                    <div class="image15"></div>
                    <div class="image16"></div>
                    <div class="image17"></div>
                    <div class="image18"></div>
                    <div class="image19"></div>
                    <div class="image20"></div>
                    <div class="image21"></div>
                    <div class="image22"></div>
                    <div class="image23"></div>
                    <div class="image24"></div>
-->
                </div>


            </div>
            <div class="col-lg-2"><h3>BOS</h3></div>
            <div class="col-lg-1"><img src="images/arrow.png" width=80px></div>
            <div class="col-lg-2"><h3>ANU</h3></div>

            <div class="flightInfoWrapper">
                <div class="departureDateBlock">
                    <div class="departureDateName"> DEPARTURE </div>
                    <div class="departureDate"> 09 AUG 2015 </div>
                </div>

                <div class="returnDateBlock">
                    <div class="returnDateName"> RETURN </div>
                    <div class="returnDate"> 17 AUG 2015 </div>
                </div>

                <div class="airlineCodeBlock">
                    <div class="airlineCode"> AA </div>
                </div>

                <div class="priceBlock">
                    <div class="price"> $100 </div>
                </div>

            </div>
        </div>




  </body>


</html>
